// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{

	margin: 0px;
}

.FondoBlanco{
	background-color: white;
}

.no-margin{
	margin: 0px;
}

.fondoTitle{
	background-color: transparent;
}

.ancho{
	width: 320px;
	height: 185px;
}

.colorFondoBoton{
	background: transparent;
}

.botonInfo{
	
	margin: 0px;
	position: absolute;
	top: 110px;
	left: 40px;
	background-image: url('./info.jpg');
	background-size: 100%;
	border: 3px;
  	width: 40px;
  	height: 40px;
	
}

.negrita{
	font-weight: bold;
}

.sinNegrita{
	 text-decoration: none;
}


.posicionBack{
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 1280px;
	background-image: url('./atras.png');
	background-size: 100%;
	//border: 3px;
  	width: 40px;
  	height: 40px;
	
}

.posicionBackEdit{
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 1210px;
	background-image: url('./atras.png');
	background-size: 100%;
	//border: 3px;
  	width: 40px;
  	height: 40px;
	
}

.agregarNodo{
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 1160px;
	background-image: url('./mas.png');
	background-size: 100%;
	//border: 3px;
  	width: 30px;
  	height: 30px;
	
}

.letraNodo{
	margin: 0px;
	text-align: center;
	color: rgb(255,255,255); ;
	//border: 3px;
    font-size: 1.8em;
	
}

.cerrarSesion{
	margin: 0px;
	position: absolute;
	top: 35px;
	left: 1227px;
	color: rgb(0,0,0);
	//border: 3px;
    font-size: 1.2em;
	
}

.editar{
	margin: 0px;
	position: absolute;
	top: 20px;
	left: 80px;
	background-image: url('./lapiz.png');
	background-size: 100%;
	//border: 3px;
  	width: 20px;
  	height: 20px;
}

.botonShowEditar{
	margin: 0px;
	position: absolute;
	background-image: url('./ver.png');
	background-size: 100%;
	top: 40px;
	left: 1270px;
	color: rgb(0,0,0);
	//border: 3px;
  	width: 40px;
  	height: 20px;
	//border: 3px;
	
}

.oval-half-red1 {
	margin: 0px;
	position: absolute;
	top: 215px;
	left: 160px;
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    border: 3px solid #555;
}

.oval-half-red2 {
	margin: 0px;
	position: absolute;
	top: 215px;
	left: 550px;
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}

.oval-half-red3 {
	margin: 0px;
	position: absolute;
	top: 215px;
	left: 920px;
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}
.oval-half-red4 {
	margin: 0px;
	position: absolute;
	top: 410px;
	left: 160px;
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}
.oval-half-red5 {
	margin: 0px;
	position: absolute;
	top: 410px;
	left: 550px;
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}
.oval-half-red6 {
	margin: 0px;
	position: absolute;
	top: 410px;
	left: 920px;
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    border: 3px solid #555;
}

.carbono{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	top: 330px;
	left: 200px;
	font-weight: 20px;
	border: none;
	background: transparent;
	
}

.azufre{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	top: 330px;
	left: 580px;
	font-weight: 20px;
	border: none;
	background: transparent;
}

.nitrogeno{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	top: 330px;
	left: 960px;
	font-weight: 20px;
	border: none;
	background: transparent;
	
}

.ozono{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	top: 520px;
	left: 250px;
	font-weight: 20px;
	border: none;
	background: transparent;
}

.temperatura{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	top: 520px;
	left: 595px;
	font-weight: 20px;
	border: none;
	background: transparent;
	
}

.humedad{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	top: 520px;
	left: 960px;
	font-weight: 20px;
	border: none;
	background: transparent;
	
}

.botonedit{
	margin: 0px;
	position: absolute;
	size: 50px;
	font-size: 1.6em;
	size: 50px;
	top: 570px;
	left: 40px;
	font-weight: 12px;
	width: 80px;
  	height: 50px;

	
}

.botonback{
	margin: 0px;
	position: absolute;
	font-size: 1.6em;
	size: 50px;
	top: 570px;
	left: 140px;
	font-weight: 12px;
  	width: 80px;
  	height: 50px;

}

.borrar{
	margin: 0px;
	position: absolute;
	top: 70px;
	left: 195px;
	background-image: url('./basura.png');
	background-size: 100%;
	//border: 3px;
  	width: 20px;
  	height: 20px;
}

.imagenNodo{
	margin: 0px;
	background-image: url('./alpujarra.jpg');
	background-size: 100%;
	border: 3px solid black;
}

.cuadro2{
  	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:25%;
	left:38%;
	/*determinamos una anchura*/
	width: 360px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	/*determinamos una altura*/
}

.air{
	font-weight: 30px;
	font-size: 3.2em;
	color:rgb(0,0,0); 
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.plaza{
	margin: 0px;
	position: absolute;
	top: 110px;
	left: 95px;
	font-weight: 15px;
	font-size: 2.8em;
	color:rgb(50,200,100); 
}

.var{
	font-weight: 45px;
	font-size: 1.9em;
	position: absolute;
	top: 40px;
	left: 975px;
	margin: 0px;
}

.est{
	font-weight: 45px;
	font-size: 1.9em;
    position: absolute;
    top: 40px;
	left: 1143px;
    margin: 0px;
}

.field{
	position: absolute;
	top: 220px;
	left: 30px;
	margin: 0px;
}

.nav{
	background-color: transparent;
}

.large-padding{
	padding: 30px 30px;
}

.contactanos{
    text-align: center;
}