// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{

	margin: 0px;
	background-color: white;
}

.FondoBlanco{
	background-color: white;
}

.no-margin{
	margin: 0px;
}

.fondoTitle{
	background-color: transparent;
}

.ancho{
	width: 320px;
	height: 185px;
}

.posicionBack{
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 1280px;
	background-image: url('./atras.png');
	background-size: 100%;
	//border: 3px;
  	width: 40px;
  	height: 40px;
	
}

.agregarNodo{
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 1160px;
	background-image: url('./mas.png');
	background-size: 100%;
	//border: 3px;
  	width: 30px;
  	height: 30px;
	
}

.letraNodo{
	margin: 0px;
	text-align: center;
	color: rgb(255,255,255); ;
	//border: 3px;
    font-size: 1.8em;
	
}

.cerrarSesion{
	margin: 0px;
	position: absolute;
	top: 35px;
	left: 1227px;
	color: rgb(0,0,0);
	//border: 3px;
    font-size: 1.2em;
	
}

.editar{
	margin: 0px;
	position: absolute;
	top: 20px;
	left: 80px;
	background-image: url('./lapiz.png');
	background-size: 100%;
	//border: 3px;
  	width: 20px;
  	height: 20px;
	
}

.cuadrado-3 {
     width: 100px; 
     height: 100px; 
     border: 3px solid #555;
     background: #428bca;
}

.oval-half-red {
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}

.oval-half-red1 {
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}


.borrar{
	margin: 0px;
	position: absolute;
	top: 20px;
	left: 95px;
	background-image: url('./basura.png');
	background-size: 100%;
	//border: 3px;
  	width: 20px;
  	height: 20px;
}

.imagenNodo{
	margin: 0px;
	background-image: url('./alpujarra.jpg');
	background-size: 100%;
	border: 4px solid black;
	
}

.cuadro2{
  	position: absolute;
	/*nos posicionamos en el centro del navegador*/
	top:25%;
	left:38%;
	/*determinamos una anchura*/
	width: 360px;
	/*indicamos que el margen izquierdo, es la mitad de la anchura*/
	/*determinamos una altura*/
}

.air{
	font-weight: 30px;
	font-size: 3.2em;
	color:rgb(0,0,0); 
	margin: 0px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.plaza{
	position: absolute;
	top: 90px;
	left: 30px;
	font-weight: 15px;
	font-size: 2.2em;
	color:rgb(50,200,100); 
	margin: 0px;
}

.var{
	font-weight: 45px;
	font-size: 1.9em;
	position: absolute;
	top: 40px;
	left: 910px;
	margin: 0px;
}

.est{
	font-weight: 45px;
	font-size: 1.9em;
    position: absolute;
    top: 40px;
	left: 1100px;
    margin: 0px;
}

.field{
	position: absolute;
	top: 220px;
	left: 30px;
	margin: 0px;
}

.nav{
	background-color: transparent;
}

.large-padding{
	padding: 30px 30px;
}